body {
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1200px;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

aside {
  width: 370px;
  background: #282e38;
}

.cv-photo {
  margin-top: 88px;
}

.header-secondary {
  color: #ffffff;
}

.contact-links {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.bold {
  font-weight: 700;
}

.contact-block {
  margin-top: 50px;
  margin-left: 40px;
}

main {
  padding: 102px 88px 102px 88px;
}

.main-description {
  width: 400px;
  margin-bottom: 70px;
}

.name {
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
}

.cv {
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
}

.list {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  padding-left: 0;
  list-style-position: inside;
}
.list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #252525;
  text-decoration: none;
  padding-left: 0;
  list-style-position: inside;
}
.header-primary {
  font-weight: 700;
  font-size: 22px;
  line-height: 10px;
  margin-top: 40px;
}

.job {
  font-weight: 700;
  font-size: 16px;
  line-height: 10px;
  margin-top: 25px;
}

.school {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 40px;
}

.job-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  color: #a8a8a8;
  margin-bottom: 5px;
}

.soft-skills {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 40px;
}
.hard-skills {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 40px;
}
